<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raw Surf Forecast Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Raw Surf Forecast Data</h1>
        <div class="table-container">
            <div class="table-responsive fixed-scroll">
                {{ data|safe }}
            </div>
        </div>
        <a href="/" class="btn btn-primary mt-3">Back to Home</a>
    </div>
</body>
</html>
